div.bmDiv {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: auto auto;
    position: relative; /* puts container in front of distance */
    text-align: center;
    vertical-align: middle;
    height: 10em;
    width: 30em;
    clear: left;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

.jira-issue > a{
    background-repeat:no-repeat;
    padding-left:20px;
    padding-bottom:2px;
}

.jira-issue.resolved > a{
    text-decoration: line-through underline;
}


.single-issue-oauth.unknown-jira-issue > a {
    background: transparent url(../../../images/icons/lock_16_grey.png) no-repeat ;
    background-repeat:no-repeat;
    padding-left:18px;
    padding-bottom:2px;
}

.jira-status{
    background-position: right -1px;
    background-repeat: no-repeat;
    padding-right:18px;
    padding-bottom:2px;
}