#requireResource("confluence.web.resources:jquery")
#requireResource("confluence.extra.jira:jiraportlet-javascript")

#if ($outputType == "pdf" || $outputType == "word" || $outputType == "preview")
    <div id="jiraportlet_static_${macroId}">
        $portletDataHtml
    </div>
#else
    #*
        At the moment, we don't know if we are rendering in RSS, email or normal page view because $outputType will be
        null for these contexts.
    *#
    <div class="jiraportlet" id="jiraportlet_iframe_container_${macroId}">
        <iframe frameBorder="0" id="jiraportlet_iframe_${macroId}"></iframe>
        <input type="hidden" id="jiraportlet_content_${macroId}" value="$generalUtil.htmlEncode( $portletDataHtml )">
    </div>
#end
