#requireResource("confluence.web.resources:jquery")
#requireResource("confluence.extra.jira:web-resources")

## assemble columns param
#foreach($column in $columns)
    #if($velocityCount==1)
        #set ($columnParams = "columns=$column")
    #else
        #set ($columnParams = "$columnParams&columns=$column")
    #end
#end

#set ($url = "$req.contextPath/plugins/servlet/issue-retriever?$columnParams&url=$url&useTrustedConnection=$useTrustedConnection")

#if ($showCount)
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery.ajax({
                type: 'GET',
                url: '$url',
                data: 'useCache=$useCache&rp=$resultsPerPage&showCount=true',
                success: function(issueCount){
                    var countElement = document.getElementById('jiraissuescount');
                    countElement.innerHTML = '<a href="$clickableUrl">'+issueCount+' $action.getText("jiraissues.issues.word")</a>';
                }
            });
        });
    </script>

    <span id="jiraissuescount"></span>
#else

    ## adjust sortfield so that it matches the javascript column title, so sorting options displayed correctly in widget
    #if($sortField.equals("issuekey"))
        #set ($sortField = "key")
    #elseif($sortField.equals("issuetype"))
        #set ($sortField = "type")
    #end

    #set( $requestedPage = $startOn/$resultsPerPage+1 )

    <script type="text/javascript">

    /* functions to let us always use the cache when refreshing the data,
    but use the user-supplied macro parameter to decide whether or not to use the cache on the initial data load */
    onFirstSubmitFunction = (function(){
        this.onSubmit = onNonFirstSubmitFunction;
        return true;
    });
    onNonFirstSubmitFunction = (function(){
        this.params = [{name:'useCache',value:false}];
        return true;
    });

    onErrorFunction_${macroId} = (function(XMLHttpRequest, textStatus, errorThrown){
        jQuery('.pReload',this.pDiv).removeClass('loading'); // TODO: may want to change it to an error sign or something?
		this.loading = false;
        jQuery('.pPageStat',this.pDiv).html('$action.getText("jiraissues.error"): '+XMLHttpRequest.responseText);
    });

    #set ($css_id = "${macroId}_trusted")
    showTrustWarningsFunction_${macroId} = (function(data){
        if(data.trustedMessage)
        {
            jQuery('#$css_id td:last').html(data.trustedMessage);
            jQuery('#$css_id').css('display','block');
        }
        else
            jQuery('#$css_id').css('display','none');
    });

    jQuery(document).ready(function(){
        jQuery('#$macroId').flexigrid({
            url: '$url',
            method: 'GET',
            dataType: 'json',
			colModel: [
                #set( $columnsSize = $columns.size() )
                #foreach ($column in $columns)
                   {display: '$column', name : '$column', width : 100, sortable : true, align: 'left'}#if($velocityCount!=$columnsSize),#end
                #end
            ],
			sortname: '$sortField',
			sortorder: '$sortOrder',
			usepager: true,
			title: '<a href="$clickableUrl">Issues</a>',
            page: $requestedPage, ## unfortunately this is ignored
            useRp: false,
			rp: $resultsPerPage,
			showTableToggleBtn: true,
			height: 160,
            params: [{name:'useCache',value:'$useCache'}],
            onSubmit: onFirstSubmitFunction,
            #if($showTrustWarnings) onSuccess: showTrustWarningsFunction_${macroId}, #end
            onError: onErrorFunction_${macroId},
            errormsg: '$action.getText("jiraissues.connection.error")',
            pagestat: '$action.getText("jiraissues.pagestat")',
            procmsg: '$action.getText("jiraissues.processing")',
            nomsg: '$action.getText("jiraissues.no.items")'
        });
    });
    </script>

    <a name="jiraissues"></a>
    
    #if ($showTrustWarnings)
        <div id='${macroId}_trusted' style="display:none" >$action.helper.renderConfluenceMacro("{note} {note}")</div>
    #end

    <table id="$macroId" style="display:none"></table>
#end
