#requireResource("confluence.web.resources:jquery")
#requireResource("confluence.extra.jira:web-resources")

## assemble columns param
#foreach($column in $columns)
    #if($velocityCount==1)
        #set ($columnParams = "columns=$column")
    #else
        #set ($columnParams = "$columnParams&columns=$column")
    #end
#end

#if ($showCount)
      count stuff goes here!
#else

    ## adjust sortfield so that it matches the javascript column title, so sorting options displayed correctly in widget
    #if($sortField.equals("issuekey"))
        #set ($sortField = "key")
    #elseif($sortField.equals("issuetype"))
        #set ($sortField = "type")
    #end

    #set( $requestedPage = $startOn/$resultsPerPage+1 )

    <script type="text/javascript">

    /* functions to let us always use the cache when refreshing the data,
    but use the user-supplied macro parameter to decide whether or not to use the cache on the initial data load*/
    onFirstSubmitFunction = (function(){
        this.onSubmit = onNonFirstSubmitFunction;
        return true;
    });
    onNonFirstSubmitFunction = (function(){
        this.params = [{name:'useCache',value:false}];
        return true;
    });

    jQuery(document).ready(function(){
        jQuery('#$macroId').flexigrid({
            url: '$req.contextPath/plugins/servlet/issue-retriever?$columnParams&url=$url&useTrustedConnection=$useTrustedConnection',
            method: 'GET',
            dataType: 'json',
			colModel: [
                #set( $columnsSize = $columns.size() )
                #foreach ($column in $columns)
                   {display: '$column', name : '$column', width : 100, sortable : true, align: 'left'}#if($velocityCount!=$columnsSize),#end
                #end
            ],
			sortname: '$sortField',
			sortorder: '$sortOrder',
			usepager: true,
			title: '<a href="$clickableUrl">Issues</a>',
            page: $requestedPage, ## unfortunately this is ignored
            useRp: false,
			rp: $resultsPerPage,
			showTableToggleBtn: true,
			height: 160,
            params: [{name:'useCache',value:'$useCache'}],
            onSubmit: onFirstSubmitFunction
        });
    });
    </script>

    <a name="jiraissues"></a>
    
    #if ($trustedConnection)
        #parse('templates/extra/jira/trustedConnectionWarnings.vm')
    #end

    <table id="$macroId" style="display:none"></table>
#end
