<span class="jiraissues_count">
    <a class="result hidden" nofollow="true" href="$generalUtil.htmlEncode($clickableUrl)"></a>
    <span class="calculating">$action.getText('jiraissues.countingissues')</span>
    <span class="error hidden">
        $action.getText('jiraissues.error.count') {0}. $action.getText('jiraissues.error.count.checklogs')
    </span>
    <span class="hidden data use-cache">${useCache}</span>
    <span class="hidden data rp">${resultsPerPage}</span>
    <span class="hidden data url">$generalUtil.htmlEncode( $retrieverUrlHtml )</span>
</span>
