<script>
#set($safeKey=$generalUtil.htmlEncode($key))
AJS.JiraIssues.Remote['$applink.id'] = AJS.JiraIssues.Remote['$applink.id'] || [];
AJS.JiraIssues.Remote['$applink.id'].push({
	key: '$safeKey'
});
</script>
<span class="unknown-jira-issue $safeKey"><a class=issue-link" href="$clickableUrl">$safeKey</a></span>