<p>

    #if ($trustedConnection)
        #parse('templates/extra/jira/trustedConnectionWarnings.vm')
    #end

    <table cellspacing="0" class="grid" style="width: $generalUtil.htmlEncode( $width )">
        <tr>
            <th colspan="$columns.size()" style="text-align: left; ">
                <a rel="nofollow" href="$generalUtil.htmlEncode($clickableUrl)">$action.getText($!title)</a>&nbsp;(${entries.size()}&nbsp;$action.getText('jiraissues.issues'))
            </th>
        </tr>
        <tr>
            #foreach( $col in $columns )
                <th style="text-align: left; text-transform: capitalize;">$col.title</th>
            #end
        </tr>

        #set ($dateFormatter=$action.dateFormatter)
        #set( $alternate = false )
        #foreach( $item in $entries)
            #if( $alternate )
                <tr class="rowAlternate">
                #set( $alternate = false )
            #else
                <tr class="rowNormal">
                #set( $alternate = true )
            #end
                #foreach( $col in $columns )
                <td #if( !$col.shouldWrap() )nowrap="true"#end>

                    #if( $col.equals('type') && $item.getChild('type').getValue())
                        <a href="$item.getChild('link').getValue()"><img src="$!jiraIssuesUtils.findIconUrl($item.getChild($col.key), $icons)" alt="$!item.getChild($col.key).getValue()" border="0" /></a>
                    #elseif( $col.equals('key') )
                        <a href="$item.getChild('link').getValue()">$!item.getChild($col.key).getValue()</a>
                    #elseif( $col.equals('summary') )
                        <a href="$item.getChild('link').getValue()">$generalUtil.htmlEncode($!item.getChild(${col.key}).getValue())</a>
                    #elseif( $col.equals('priority') && $item.getChild('priority').getValue())
                        <img src="$!jiraIssuesUtils.findIconUrl($item.getChild($col.key), $icons)" alt="$!item.getChild($col.key).getValue()" border="0" />
                    #elseif( $col.equals('status') && $item.getChild('status').getValue())
                        <img src="$!jiraIssuesUtils.findIconUrl($item.getChild($col.key), $icons)" alt="" border="0" /> $!item.getChild($col.key).getValue()
                    #elseif( $col.equals('resolution') )
                        <font color="990000">$!item.getChild($col.key).getValue()</font>
                    #elseif( $col.equals('created') || $col.equals('updated') || $col.equals('due') )
                        $!dateFormatter.format($generalUtil.convertMailFormatDate($item.getChild($col.key).getValue()))
                    #elseif( $xmlXformer.isColumnMultivalued($col.key) )
                        $!xmlXformer.collapseMultiple( $item, $col.key ).getValue()
                    #else
                        $!xmlXformer.valueForField($item, $col.key).getValue()
                    #end
                </td>
                #end
            </tr>
        #end
    </table>
</p>