
#macro (renderNote $body)
    $action.helper.renderConfluenceMacro("{note} $body {note}")
#end

#if (!$trustedConnectionStatus.trustSupported)
    #if ($showTrustWarnings)
        #renderNote($action.getText("jiraissues.server.trust.unsupported"))
    #end
#elseif ($trustedConnectionStatus.trustedConnectionError)
    #if (!$trustedConnectionStatus.appRecognized)
        #if ($showTrustWarnings)
            #set ($linkText = $action.getText("jiraissues.server.trust.not.established"))
            #set ($anonymousWarning = $action.getText("jiraissues.anonymous.results.warning"))
            #set ($note = "[$linkText|http://www.atlassian.com/software/jira/docs/latest/trusted_applications.html] $anonymousWarning")
            #renderNote($note)
        #end
    #elseif (!$trustedConnectionStatus.userRecognized)
        #renderNote($action.getText("jiraissues.server.user.not.recognised"))
    #elseif (!$trustedConnectionStatus.trustedConnectionErrors.isEmpty())
        <div>
        <p>$action.getText("jiraissues.server.errors.reported")</p>
        <ul>
        #foreach ($message in $trustedConnectionStatus.trustedConnectionErrors)
            <li>$message</li>
        #end
        </ul>
        </div>
    #end
#end
