#jira-chart .jira-chart-search {
    padding: 10px 10px 0 10px;
}

#jira-chart .jira-chart-search .search-help {
    font-size: 10px;
}

#jira-chart #jira-chart-content {
    position: relative;
    z-index: 40;
    height: 470px;
    overflow: hidden;
    margin-top: 10px;
}

#jira-chart-content div.jira-chart-search-input.one-server {
    display: inline-block;
    width: 535px;
}

#jira-chart-content .jira-chart-option {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    width: 100%;
    z-index: 50;
}

#jira-chart a.jirachart-display-opts-open, #jira-chart a.jirachart-display-opts-close {
    font-size: 14px;
    line-height: 27px;
}

#jira-chart a.jirachart-display-opts-open.disabled {
    opacity: .5;
    text-decoration: none;
    cursor: help;
    color: #838383;
}

#jira-chart .dialog-panel-body {
    padding: 0 !important;
}

#jira-chart .jira-chart-img .chart-img {
    text-align: center;
    padding-top: 10px;
    height: 375px;
    overflow: auto;
}

#jira-chart .jira-chart-img .aui-message-container {
   margin: 0 10px;
}

#jira-chart-content div.jira-chart-search-input {
    display: inline-block;
    width: 390px;
}

#jira-chart-content #jira-chart-servers.select {
    margin: 0 8px 1px;
    padding-top: 5px;
    max-width: 125px;
}

.jirachart-border {
    border: 1px solid #CCCCCC;
}

#jira-chart-content .jirachart-display-opts-close span {
    background: url(bullets.png) no-repeat left -50px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#jira-chart-content a.jirachart-display-opts-open span {
    background: url(bullets.png) no-repeat left 3px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#jira-chart-content .loading-data {
    margin-left: 250px;
    margin-top: 60px;
}

#jira-chart .moreToCome {
    padding-left: 10px;
}

#jira-chart .dialog-page-menu li button::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

#jira-chart-inputsearch.one-server.long-field {
    max-width: 525px;
}
#jira-chart-inputsearch.search-text {
    max-width: 390px;
}
#jira-chart-content .jiraChartOption {
    padding: 8px 15px;
}
