/*
This patch is intended to fix some issues relate to AUI datepicker

1. z-index: AUI datepicker is always below the dialog (JIM dialog)
2. broken layout: it seems to have some conflict with jquery datepicker and make very ugly border, icon
3. 404 error: when trying to load an image in blueprint plugin

*/


.aui-inline-dialog {
    /* Move this over usual dialog */
    z-index: 5000;
}

.aui-inline-dialog .ui-widget-content {
    border: none;
}

.aui-inline-dialog .hasDatepicker .ui-widget-header {
    background: none;
    border: none;
}

.aui-inline-dialog .ui-datepicker-calendar .ui-state-default {
    border-color: transparent;
}

.aui-inline-dialog .hasDatepicker .ui-datepicker-prev, .aui-inline-dialog .hasDatepicker .ui-datepicker-next {
    background-image: none;
}

.aui-inline-dialog .ui-datepicker-prev .ui-icon, .aui-inline-dialog .ui-datepicker-next .ui-icon {
    width: 10px;
    text-indent: 0;
}

/* Hover style */
.aui-inline-dialog .ui-datepicker-prev.ui-state-hover:hover, .aui-inline-dialog .ui-datepicker-next:hover {
    color: #3b73af;
    font-weight: bold;
    background: none;
    border: 0;
    outline: 0;
}