div.bmDiv {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: auto auto;
    position: relative; /* puts container in front of distance */
    text-align: center;
    vertical-align: middle;
    height: 10em;
    width: 30em;
    clear: left;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

/* If any of the following is changed, the flying PDF plugin will also need updating. See CONF-23007 */
.jira-issue, .unknown-jira-issue{
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 0 0 0 2px;
    border-radius: 3px;
    display: inline-block;
    line-height: 14px;
}

.jira-issue > a,
.single-issue-oauth.unknown-jira-issue > a,
.lock-jira-issue > a {
    background-repeat:no-repeat;
    background-position: 0 center;
    line-height: 16px;
    font-size: 14px;
}

.jira-issue a img {
    margin-right: 5px; 
}

#main .wiki-content .jira-issue.resolved > a {
    text-decoration: line-through;
}

#main .wiki-content .jira-issue.resolved > a:hover {
    text-decoration: underline;
}

.single-issue-oauth.unknown-jira-issue > a,
.lock-jira-issue > a {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAzTstiAAAADHRSTlMAETNEZneImarM3e5Iqh64AAAAMklEQVQIW2NgQADG6hMKYAbn1ugFYIZNAtthCMOAGQeDZc2ZM6ccgAyeM0BwgFQGOgAAmkcjUyRCfYAAAAAASUVORK5CYII=) no-repeat ;
    padding-left: 18px; /* 16px icon + 2px padding to match parent padding */
}

.jira-status{
    color: #707070;
    font-size: 12px;
    font-weight: bold;
}

.refresh-issues-bottom {
    display: inline-block;
    padding: 7px 10px;
}

#main.chart-preview-main {
    padding: 20px 10px; /* Align the content inside iframe with parent, this fix for CONFDEV-20638 */
}

/*! AUI Sortable Tables */
.aui .tablesorter-header {
    cursor: pointer;
}

/**
 * Unsortable columns should not get the hover effects
 */
.aui .tablesorter-header.aui-table-column-unsortable {
    cursor: default;
}

.aui .tablesorter-header.aui-table-column-unsortable:hover {
    background-color: inherit;
    color: inherit;
}

/**
 * Color of header when selected or hovered.
 */
.aui .tablesorter-header:hover,
.aui .tablesorter-headerAsc,
.aui .tablesorter-headerDesc {
    background-color: #f5f5f5;
    color: #333;
}

/**
 * Used to generate the arrow on the right.
 */
.aui .jim-table-header-content:after {
    border: 4px solid transparent;
    content: "";
    display: inline-block;
    margin-left: 5px;
    position: relative;
    width: 0;
}

/**
 * If the table header is hovered add the border color.
 */
.aui .tablesorter-header:hover .jim-table-header-content:after {
    border-top-color: #333;
    border-bottom-color: transparent;
    opacity: 0.5;
    filter: alpha(opacity=50);
    top: 2px;   /* push down by half the height of the arrow (border) */
}

/**
 * If descending add border color
 */
.aui .tablesorter-headerAsc .jim-table-header-content:after,
.aui .tablesorter-headerAsc:hover .jim-table-header-content:after {
    border-top-color: #333;
    border-bottom-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 2px; /* push down by half the height of the arrow (border) */
}

/**
 * If ascending add border color
 */
.aui .tablesorter-headerDesc .jim-table-header-content:after,
.aui .tablesorter-headerDesc:hover .jim-table-header-content:after {
    border-top-color: transparent;
    border-bottom-color: #333;
    opacity: 1;
    filter: alpha(opacity=100);
    top: -2px; /* push up by half the height of the arrow (border) */
}