div.bmDiv {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: auto auto;
    position: relative; /* puts container in front of distance */
    text-align: center;
    vertical-align: middle;
    height: 10em;
    width: 30em;
    clear: left;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
}

/* If any of the following is changed, the flying PDF plugin will also need updating. See CONF-23007 */
.jira-issue, .unknown-jira-issue{
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 0 0 0 2px;
    border-radius: 3px;
    display: inline-block;
    line-height: 14px;
}

.jira-issue > a,
.single-issue-oauth.unknown-jira-issue > a,
.lock-jira-issue > a {
    background-repeat:no-repeat;
    background-position: 0 center;
    line-height: 16px;
    font-weight: bold;
    font-size: 14px;
}

.jira-issue a img {
    margin-right: 5px; 
}

#main .wiki-content .jira-issue.resolved > a {
    text-decoration: line-through;
}

#main .wiki-content .jira-issue.resolved > a:hover {
    text-decoration: underline;
}

.single-issue-oauth.unknown-jira-issue > a,
.lock-jira-issue > a {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAzTstiAAAADHRSTlMAETNEZneImarM3e5Iqh64AAAAMklEQVQIW2NgQADG6hMKYAbn1ugFYIZNAtthCMOAGQeDZc2ZM6ccgAyeM0BwgFQGOgAAmkcjUyRCfYAAAAAASUVORK5CYII=) no-repeat ;
    padding-left: 18px; /* 16px icon + 2px padding to match parent padding */
}

.jira-status{
    color: #707070;
    font-size: 12px;
    font-weight: bold;
}

.refresh-issues-bottom {
    display: inline-block;
    padding: 7px 10px;
}

.wiki-content .aui-lozenge.jira-issue-status-lozenge-blue-gray {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff;
}

.wiki-content .aui-lozenge.jira-issue-status-lozenge-green {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
}

.wiki-content .aui-lozenge.jira-issue-status-lozenge-yellow {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300;
}

.wiki-content .aui-lozenge.jira-issue-status-lozenge-brown {
    background-color: #815b3a;
    border-color: #815b3a;
    color: #fff;
}

.wiki-content .aui-lozenge.jira-issue-status-lozenge-warm-red {
    background-color: #d04437;
    border-color: #d04437;
    color: #fff;
}

.wiki-content .aui-lozenge.jira-issue-status-lozenge-medium-gray {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
}

.jira-single-issue-status-lozenge-boder-radius {
    border-radius: 0px 3px 3px 0px;
}
