#if($issueType == "single")
    <span class="aui-message aui-message-error jim-error-message-single">
        #if($clickableUrl) <a href="$clickableUrl">$jiraLinkText</a> -#end
        $action.getText("jiraissues.can.not.show.detail") $exceptionMessage
    </span>
#else
    <div class="aui-message warning jim-inline-block jim-error-message-table">
        <span class="aui-icon icon-warning"></span>$macroName: $exceptionMessage  #if($clickableUrl) <a href="$clickableUrl">$jiraLinkText</a> #end
    </div>
#end