<div class="aui-message warning jim-inline-block">
    <span class="aui-icon icon-warning"></span>$macroName: $exceptionMessage  #if($clickableUrl) <a href="$clickableUrl">$jiraLinkText</a> #end
</div>
