#requireResource("confluence.extra.jira:futurescript")
#requireResource("confluence.extra.jira:futurestyle")

<div>
    <div id="future-$futureId" class="future-macro#if ($manual) manual-future #end"><img class="spinner" src="$staticResourceUrlPrefix/images/icons/wait.gif">Loading <em>$!generalUtil.htmlEncode($futureTitle)</em> &hellip;</div>

    <div class="future-data">
        <textarea id="future-wiki-$futureId">$generalUtil.htmlEncode($wikiMarkup)</textarea>
        <textarea id="future-render-cache-$futureId"></textarea>
        <input id="future-page-id-$futureId" type="text" value="$contentId"/>
    </div>

    <div id="future-module-$futureId" class="future-module"></div>
</div>