#if ($isNoPermissionToView)
    <span class="jira-issue $generalUtil.htmlEncode($key)"><a class="issue-link" href="$clickableUrl">$key</a></span>
#elseif ($oAuthUrl)
    <span class="jira-issue lock-jira-issue $generalUtil.htmlEncode($key)"><a class=issue-link" href="$clickableUrl">$key</a><span class="oauth-msg"> - <a class="static-oauth-init" href="$oAuthUrl">$action.getText('jiraissues.oauth.linktext')</a> $action.getText('jiraissues.oauth.single.message')</span></span>
#else
    <span class="jira-issue#if($resolved) resolved#end" >
        <a href="$clickableUrl"><img class="icon" src="$iconUrl" />$generalUtil.htmlEncode($key)</a>
        #if($showSummary)
            -
            <span class="summary">$generalUtil.htmlEncode($summary)</span>
        #end
        <!-- The new status lozengens support for JIRA 6.2 or later. Otherwise we use the icon.-->
        #if($statusColor)
            #if($statusColor == "blue-gray")
                #set($statusColorPdf = "aui-lozenge-complete")
            #elseif($statusColor == "green")
                #set($statusColorPdf = "aui-lozenge-success")
            #elseif($statusColor == "yellow")
                #set($statusColorPdf = "aui-lozenge-current")
            #elseif($statusColor == "brown")
                #set($statusColorPdf = "aui-lozenge-moved")
            #elseif($statusColor == "warm-red")
                #set($statusColorPdf = "aui-lozenge-error")
            #els
                #set($statusColorPdf = "aui-lozenge-default")
            #end
            <span class="aui-lozenge aui-lozenge-subtle $statusColorPdf jira-macro-single-issue-export-pdf">$generalUtil.htmlEncode($status)</span>
        #else
            (<span class="jira-status"><img class="icon" src="$statusIcon" /> $generalUtil.htmlEncode($status)</span>)
        #end
    </span>
#end