#if ($isNoPermissionToView)
    <span class="jira-issue $generalUtil.htmlEncode($key)"><a class="issue-link" href="$clickableUrl">$key</a></span>
#elseif ($oAuthUrl)
    <span class="jira-issue lock-jira-issue $generalUtil.htmlEncode($key)"><a class=issue-link" href="$clickableUrl">$key</a><span class="oauth-msg"> - <a class="static-oauth-init" href="$oAuthUrl">$action.getText('jiraissues.oauth.linktext')</a> $action.getText('jiraissues.oauth.single.message')</span></span>
#else
    <div id="myDiagram" style="border: solid 1px blue; width:100%; height:500px;"></div>
    <textarea id="jiraData" style="width:100%;height:400px;display:none">$jiraData</textarea>
    <br />
</div>#end