#* @vtlvariable name="xmlXformer" type="com.atlassian.confluence.extra.jira.JiraIssuesXmlTransformer" *#
#* @vtlvariable name="generalUtil" type="com.atlassian.confluence.util.GeneralUtil" *#
#* @vtlvariable name="jiraIssuesColumnManager" type="com.atlassian.confluence.extra.jira.DefaultJiraIssuesColumnManager" *#
#* @vtlvariable name="jiraColumnInfo" type="com.atlassian.confluence.extra.jira.model.JiraColumnInfo" *#
#* @vtlvariable name="entries" type="java.util.List<org.jdom.Element>" *#
#if($pdfExport)
    <style type="text/css">
        #refresh-module-$refreshId .aui-lozenge-subtle {
            font-size: $statusFontSize;
            padding: 1px 5px 3px;
        }
        #refresh-module-$refreshId .aui, #refresh-module-$refreshId .aui tr, #refresh-module-$refreshId .aui td, #refresh-module-$refreshId .aui th {
            font-size: $fontSize;
            padding: 6px;
            margin: 0;
        }
        #if($isLimit)
            #refresh-module-$refreshId .aui {
                table-layout:fixed;
                border-collapse:collapse;
            }
        #else
            #refresh-module-$refreshId .aui {
                table-layout:auto;
                border-collapse:collapse;
            }
        #end
        #refresh-module-$refreshId .aui .jira-macro-table-underline-pdfexport {
            border-bottom: 0.4px solid #CCCCCC;
        }
        #refresh-module-$refreshId .aui .icon {
            background-position: left center;
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 0;
            height: ${iconHeight};
            min-width: 16px;
            text-align: left;
            text-indent: -9999em;
            vertical-align: text-bottom;
        }
        .refresh-issues-bottom {
            display: inline-block;
            padding: 7px;
        }
    </style>
#end

#if($email)
    <style type="text/css">
        #refresh-module-$refreshId .icon {
            background-position: left center;
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 0;
            max-height: 16px;
            text-align: left;
            text-indent: -9999em;
            vertical-align: text-bottom;
        }
    </style>
#end
<div id="refresh-module-$refreshId" class="refresh-module-id jira-table" #if($clientId) data-client-id="$clientId" data-jira-key="issue-table-$clientId" #end>
    <p>
       #if ($placeholder || ($enableRefresh && !$singleIssueTable))
            <div id="refresh-$refreshId" class="refresh-macro">
            </div>
        #end

        #if ($trustedConnection)
            #parse('templates/extra/jira/trustedConnectionWarnings.vm')
        #end
        #if (!$isSourceApplink && $isAdministrator)
            #set ($escapeWarning = $i18n.getText("jiraissues.untrusted.contents.warning"))
            $action.helper.renderConfluenceMacro("{note} $escapeWarning {note}")
        #end

        #if($title)
            #*
                If the Title is not explicitly set, we don't show the default title as before.
                This is for backward compatibility reasons that we keep displaying if set.
            *#
            <h2 class="issues-subheading">
                <a rel="nofollow" href="$generalUtil.htmlEncode($clickableUrl)">$i18n.getText("$!title")</a>#if(!$oAuthUrl)&nbsp;(${entries.size()}&nbsp;$i18n.getText("jiraissues.issues"))#end
            </h2>
        #end

        #set($heightStyle = "")
        #if($height)
            #set($heightStyle = "height: " + $generalUtil.htmlEncode($height) + "px;")
        #end

        <div id="jira-issues-$refreshId" style="width: $generalUtil.htmlEncode($width); $heightStyle overflow: auto;" class="jira-issues">
            <table class="aui" #if($email) style="padding:5px !important;vertical-align: top;"#end>
                <tbody>
                <tr></tr> ## This empty row is required so table sorter don't automatically take effect on our table.
                <tr>
                    #foreach( $col in $columns )
                         #if(!$singleIssueTable && $col.sortable && $totalIssues && $totalIssues > 0)
                             #if($order == "DESC")
                                 #set($headerOrderClass = "tablesorter-headerDesc")
                             #elseif($order == "ASC")
                                 #set($headerOrderClass = "tablesorter-headerAsc")
                             #end

                             #if($col.title == $orderColumnName)
                                 <th style="text-align: left; text-transform: capitalize;#if($email) padding:5px !important;#end" class="jira-macro-table-underline-pdfexport jira-tablesorter-header $headerOrderClass"><span class="jim-table-header-content">$generalUtil.htmlEncode($col.title)</span></th>
                             #else
                                 <th style="text-align: left; text-transform: capitalize;#if($email) padding:5px !important;#end" class="jira-macro-table-underline-pdfexport jira-tablesorter-header"><span class="jim-table-header-content">$generalUtil.htmlEncode($col.title)</span></th>
                             #end
                         #else
                             <th style="text-align: left; text-transform: capitalize;#if($email) padding:5px !important;#end" class="jira-macro-table-underline-pdfexport">$generalUtil.htmlEncode($col.title)</th>
                         #end
                    #end
                </tr>
                #if(!$placeholder)
                    #set ($dateFormatter=$action.dateFormatter)
                    #set ($alternate = false)
                    #set ($issuesDisplayed = 0)
                    #foreach( $item in $entries)
                        #if( $issuesDisplayed < $maxIssuesToDisplay )
                            #if( $alternate )
                                <tr class="rowAlternate">
                                #set( $alternate = false )
                            #else
                                <tr class="rowNormal">
                                #set( $alternate = true )
                            #end
                            #set( $jiraIssueLink = $item.getChild('link').getValue() + "?src=confmacro")
                                #foreach( $col in $columns )
                                    <td #if( !$col.shouldWrap() )nowrap="true"#end class="jira-macro-table-underline-pdfexport" #if($email) style="padding:5px !important;vertical-align: top;"#end>
                                    #if( $col.equals('type') && $item.getChild('type').getValue())
                                        <a href="$jiraIssueLink"><img src="$!xmlXformer.findIconUrl($item.getChild($col.key))" alt="$generalUtil.htmlEncode($!item.getChild($col.key).getValue())" class="icon" /></a>
                                    #elseif( $col.equals('key') )
                                        <a href="$jiraIssueLink">$!item.getChild($col.key).getValue()</a>
                                    #elseif( $col.equals('summary') )
                                        <a href="$jiraIssueLink">
                                            $generalUtil.htmlEncode($!item.getChild(${col.key}).getValue())
                                        </a>
                                    #elseif( $col.equals('priority') && $item.getChild('priority').getValue())
                                        <img src="$!xmlXformer.findIconUrl($item.getChild($col.key))" alt="$generalUtil.htmlEncode($!item.getChild($col.key).getValue())" class="icon" />
                                    #elseif( $col.equals('status') && $item.getChild('status').getValue())
                                         <!-- The new status lozengens support for JIRA 6.2 or later. Otherwise we use the icon.-->
                                        #if($item.getChild('statusCategory'))
                                            #if($item.getChild('statusCategory').getAttribute("colorName").getValue() == "blue-gray")
                                                #set($statusColorPdf = "aui-lozenge-complete")
                                            #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "green")
                                                #set($statusColorPdf = "aui-lozenge-success")
                                            #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "yellow")
                                                #set($statusColorPdf = "aui-lozenge-current")
                                            #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "brown")
                                                #set($statusColorPdf = "aui-lozenge-moved")
                                            #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "warm-red")
                                                #set($statusColorPdf = "aui-lozenge-error")
                                            #else
                                                #set($statusColorPdf = "aui-lozenge-default")
                                            #end
                                            <span class="aui-lozenge aui-lozenge-subtle $statusColorPdf">
                                                $generalUtil.htmlEncode($!item.getChild($col.key).getValue())
                                            </span>
                                        #else
                                            <img src="$!xmlXformer.findIconUrl($item.getChild($col.key))" alt="" class="icon" />$generalUtil.htmlEncode($!item.getChild($col.key).getValue())
                                        #end
                                    #elseif( $col.equals('resolution') )
                                        $generalUtil.htmlEncode($!item.getChild($col.key).getValue())
                                    #elseif( $col.equals('issuelinks') )
                                        #set ($issueKeys = $!xmlXformer.getIssueKeyValues($!item.getChild($col.key)))
                                        #foreach( $issueKey in $issueKeys )
                                            <a href="$jiraServerUrl/browse/$issueKey?src=confmacro">
                                                #if ($isSourceApplink)
                                                    $issueKey
                                                #else
                                                    $generalUtil.htmlEncode($issueKey)
                                                #end
                                            </a>#if( $velocityCount < $issueKeys.size() ), #end
                                        #end
                                    #elseif ( $col.equals('description') || $col.equals('environment'))
                                        #if ($isSourceApplink)
                                            #set ($descriptionHtml = $!xmlXformer.valueForField($item, $col.key).getValue())
                                            $descriptionHtml
                                        #else
                                            $generalUtil.htmlEncode($!xmlXformer.valueForField($item, $col.key).getValue())
                                        #end
                                    #elseif( $jiraIssuesColumnManager.isBuiltInColumnMultivalue($col.key) )
                                        #if ($isSourceApplink)
                                            #set ($multiValuesHtml = $!xmlXformer.collapseMultiple( $item, $col.key ).getValue())
                                            $multiValuesHtml
                                        #else
                                            $generalUtil.htmlEncode($!xmlXformer.collapseMultiple( $item, $col.key ).getValue())
                                        #end
                                    #elseif ( $jiraIssuesColumnManager.isColumnBuiltIn($col.key) )
                                        $generalUtil.htmlEncode($!xmlXformer.valueForFieldDateFormatted($item, $col.key, $dateFormat, $userLocale))
                                    #elseif ( $col.isUrlColumn() )
                                        #set ($url = $!xmlXformer.valueForField($item, $col.key).getValue())
                                        <a href="$url">$url</a>
                                    #else
                                        #if ($isSourceApplink)
                                            #set ($valueHtml = $!xmlXformer.valueForFieldDateFormatted($item, $col.key, $dateFormat, $userLocale))
                                            $valueHtml
                                        #else
                                            $generalUtil.htmlEncode($!xmlXformer.valueForFieldDateFormatted($item, $col.key, $dateFormat, $userLocale))
                                        #end
                                    #end
                                </td>
                                #end
                            </tr>
                            #set ($issuesDisplayed = $issuesDisplayed+1)
                        #else
                            #break
                        #end
                    #end
                #end
                #if ($oAuthUrl)
                    <tr>
                        <td colspan="$columns.size()">
                            <div class="jira-oauth-message-marker">
                                <div class="aui-message-container">
                                    <div class="aui-message info">
                                        <span><a class="static-oauth-init" href="$oAuthUrl">$i18n.getText("jiraissues.oauth.linktext")</a> $i18n.getText("jiraissues.oauth.table.message")</span>
                                        <span class="aui-icon icon-info"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
        #if ($placeholder || !$singleIssueTable)
            <div class="refresh-issues-bottom">
                #if ($totalIssues)
                    <span id="total-issues-count" class="total-issues-count">
                        #if ($totalIssues == 0)
                            <a rel="nofollow" href="$generalUtil.htmlEncode($clickableUrl)">
                                <span>$i18n.getText("jiraissues.noresult")</span>
                            </a>
                        #else
                            #if ($totalIssues > $issuesDisplayed)
                                <span>$i18n.getText("jiraissues.remainingissues.showing","$maxIssuesToDisplay")</span>
                            #end
                            <a rel="nofollow" title="$i18n.getText("jiraissues.remainingissues.tip")" href="$generalUtil.htmlEncode($clickableUrl)">
                                #if ($totalIssues == 1)
                                    $i18n.getText("jiraissues.static.issue.word","$totalIssues")
                                #else
                                    $i18n.getText("jiraissues.static.issues.word","$totalIssues")
                                #end
                        </a>
                        #end
                    </span>
                #end
                #if ($placeholder || $enableRefresh)
                    <span class="refresh-action-group">
                        <div id="refresh-issues-loading-$refreshId" class="button-spinner refresh-issues-loading">
                            <span class="aui-icon aui-icon-wait">Loading...</span>
                        </div>
                        <a id="refresh-issues-button-$refreshId" class="icon icon-refresh refresh-action refresh-issues-button" rel="nofollow"></a>
                        <a id="refresh-issues-link-$refreshId" class="refresh-action refresh-issues-link" rel="nofollow">$i18n.getText("jiraissues.refresh")</a>
                        <span id="error-message-$refreshId" class="error-message hidden"></span>
                        <input type="hidden" class="refresh-wiki" id="refresh-wiki-$refreshId" data-wikimarkup="$generalUtil.htmlEncode($wikiMarkup)" data-pageid="$contentId" />
                    </span>
                #end
            </div>
        #end
    </p>

    #if ($placeholder)
        <div class="jim-sortable-dark-layout"></div>
    #end

</div>