<span class="static-jira-issues_count">
    <a class="issue-link" href="$clickableUrl">
        #if($count == "0" || $count == "1")
            $i18n.getText("jiraissues.static.issue.word","$count")
        #else
            $i18n.getText("jiraissues.static.issues.word","$count")
        #end
    </a>
        #if ($oAuthUrl)
            <span class="oauth-msg"> - <a class="static-oauth-init" href="$oAuthUrl">$action.getText('jiraissues.oauth.linktext')</a> $action.getText('jiraissues.oauth.single.message')</span>
        #end
    <a class="result hidden" nofollow="true"></a>
    <span class="error hidden"> $action.getText('jiraissues.error.count') {0}. $action.getText('jiraissues.error.count.checklogs')</span>
    <span class="hidden data use-cache">${useCache}</span>
    <span class="hidden data rp">${resultsPerPage}</span>
    <span class="hidden data url">$generalUtil.htmlEncode( $retrieverUrlHtml )</span>
</span>