<div class='table-jira-issue'>
    #if( $totalIssues > 0 ) 
        <table class="confluenceTable">
            <tbody>
                <tr>
                    #foreach( $col in $columns )
                        #if($col.title.equals('Key') || $col.title.equals('Summary') || $col.title.equals('Status')) 
                            <th class="confluenceTh">$generalUtil.htmlEncode( $col.title )</th>
                        #end
                    #end
                </tr>
                #set ($issuesDisplayed = 0)
                #set ($maxIssuesToDisplay = 20)
                #foreach( $item in $entries)
                <tr>
                    #if( $issuesDisplayed < $maxIssuesToDisplay )
                        #set ($issuesDisplayed = $issuesDisplayed+1)
                        #foreach( $col in $columns )
                             #if( $col.equals('key') )
                                <td class="confluenceTd key">
                                    <a href="$item.getChild('link').getValue()">
                                    #if( $item.getChild('type').getValue() )
                                        <img class="icon" src="$!xmlXformer.findIconUrl($item.getChild('type'))" />
                                    #end
                                    $!item.getChild('key').getValue()</a>
                                </td>
                             #elseif( $col.equals('summary') )
                                <td class="confluenceTd">$generalUtil.htmlEncode($!item.getChild('summary').getValue())</td>
                             #elseif( $col.equals('status') && $item.getChild('status').getValue())
                                <td class="confluenceTd status"><span class="jira-status">$generalUtil.htmlEncode($!item.getChild('status').getValue())</span></td>
                             #end
                         #end
                    #else
                        #break
                    #end
                </tr>
                #end
            </tbody>
        </table>
        #if( $totalIssues > $maxIssuesToDisplay )
            <span class="view-all">$action.getText('mobile.jira.remainingissues',$totalIssues,$generalUtil.htmlEncode($clickableUrl))</span>
        #else
             <span class="view-all"><a href="$generalUtil.htmlEncode($clickableUrl)">$action.getText('mobile.jira.issue.viewall.link')</a></span>
        #end
    #else
        <span class="no-result">$action.getText('jiraissues.noresult')</span>
    #end
</div>