#* @vtlvariable name="generalUtil" type="com.atlassian.confluence.util.GeneralUtil" *#

#if ($jqlValidationResult.isOAuthNeeded())
    #if (!$isPreviewMode)
        <span class="oauth-msg">
            <a class="static-oauth-init" href="$jqlValidationResult.getAuthUrl()">$action.getText('jiraissues.oauth.linktext')</a>
            $action.getText('jiraissues.oauth.single.message')
        </span>
    #end
#end
#if ($jqlValidationResult.isValidJQL())
    #if($isPreviewMode)
        <div class="jira-chart-macro-preview-container">
    #end

    #if($pdfExport)
        <style type="text/css">
            .jira-chart-macro-wrapper {
                display: inline-block;
                position: relative;
            }

            .jirachart-border {
                border: none;
            }

            .pdf-jirachart-border {
                padding: 1px;
                border: 1px solid #CCC;
            }

            .jira-chart-macro-wrapper .info {
                bottom: 25px;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        </style>
    #end

    <div class="jira-chart-macro-wrapper #if($showBorder) jirachart-border #end">
        <img class="jira-chart-macro-img #if($showBorder) pdf-jirachart-border #end" src="$srcImg"/>
        #if ($showInfor)
            <div class="info">
                <a href="$jqlValidationResult.FilterUrl" target="_blank">
                    $action.getText('jirachart.macro.showinfor.total')
                    $jqlValidationResult.IssueCount
                </a>
                <span>$generalUtil.htmlEncode($action.getText('jirachart.macro.showinfor.statistictype', [$statType]))</span>
            </div>
        #end
    </div>

    #if($isPreviewMode)
        </div>
    #end
#else
    <div class="jira-chart-macro-preview-container">
        $soyTemplateRendererHelper.getRenderedTemplateHtml('confluence.extra.jira:dialogsJs',
        'Confluence.Templates.ConfluenceJiraPlugin.jqlInvalid.soy',{})
    </div>
#end
