#if ($jqlValidationResult.isValidJQL())
	#if ($jqlValidationResult.isNeedOAuth())
	   #if (!$isReviewMode)
	       <span class="oauth-msg">
		        <a class="static-oauth-init" href="$jqlValidationResult.getAuthUrl()">$action.getText('jiraissues.oauth.linktext')</a> $action.getText('jiraissues.oauth.single.message')
		    </span>
	   #end
	#end

	<div class="img-wrapper">
	   <img id="jira-chart-macro-img" src="$srcImg" #if($border) class="jirachart-border" #end/> 
	</div>
	</br>
#else
	$soyTemplateRendererHelper.getRenderedTemplateHtml('confluence.extra.jira:dialogsJs', 
	        'Confluence.Templates.ConfluenceJiraPlugin.jqlInvalid.soy',{})
#end