#if ($jqlValidationResult.isCallSuccess())
	#if ($jqlValidationResult.isOAuthNeeded())
	   #if (!$isPreviewMode)
	       <span class="oauth-msg">
		       <a class="static-oauth-init" href="$jqlValidationResult.getAuthUrl()">$action.getText('jiraissues.oauth.linktext')</a> $action.getText('jiraissues.oauth.single.message')
		   </span>
	   #end
	#end

    #if ($jqlValidationResult.isValidJQL())
        <div id="jira-chart-macro-preview-contaier">
			<div id="jira-chart-macro-wrapper" #if($showBorder) class="jirachart-border" #end>
			   <img id="jira-chart-macro-img" src="$srcImg" /> 
			   #if ($showInfor)
	               <div class="info">
	                  $action.getText('jirachart.macro.showinfor.total')
	                  <a href="$jqlValidationResult.FilterUrl" target="_blank">
	                       [$jqlValidationResult.IssueCount]
	                  </a>
	                  $action.getText('jirachart.macro.showinfor.statistictype', [$statType])
	               </div>
	           #end 
			</div>
		</div>
		</br>
	#end
#end

#if (!$jqlValidationResult.isValidJQL())
    <div id="jira-chart-macro-preview-contaier">
	   $soyTemplateRendererHelper.getRenderedTemplateHtml('confluence.extra.jira:dialogsJs',
	        'Confluence.Templates.ConfluenceJiraPlugin.jqlInvalid.soy',{})
	</div>
#end