
<div class="aui-flatpack-example" style="border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px;">

    <q class="quote">
        {quote}
    </q>


    <div>
        <div>
            <span style="margin-top: 20px; margin-right: 15px; margin-left: 10px" class="aui-avatar aui-avatar-project aui-avatar-large">
                <span class="aui-avatar-inner">
                    <img src={avatar}>
                </span>
            </span>
            <div style="display: inline-block; ">
                <div>
                    <h4>{page-name}</h4>
                </div>
                <div>
                    <cite>{space-name} | {editor-name}</cite>
                </div>
            </div>
        </div>
    </div>
</div>



