
<div class="aui-flatpack-example" style="border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 20px 0;
    padding: 20px; display: inline-block">

    <q class="quote">
        $quote
    </q>
    <div>
        <div>
            <span style="margin-top: 20px; margin-right: 5px; display: inline-block; width: 40px; height: 40px" class="aui-avatar aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img src=$avatar>
                </span>
            </span>
            <div style="display: inline-block; ">
                <div>
                    <a href="$page-link"><span>$page-name</span><a>
                </div>
                <div>
                    <span style="font-size: 12px; color: #707070; line-height: 1.5">$editor-name</span>
                </div>
            </div>
        </div>
    </div>
</div>



