<div class="jira-timeline" datasource="phongn"></div>
<script type="text/javascript">
    window.phongn = {
        data: [
            #foreach($item in $entries)
                #set($html = $xmlXformer.getJsonIssue($item, $group))
                $html,
            #end
        ],
        options: {
            width: '100%',
            height: '400px'
        }
    }
</script>