<div class="jira-timeline" datasource="phongn"></div>
<script type="text/javascript">
    window.phongn = {
        data: [
            #set($startDateId = "")
            #foreach($item in $entries)
                #set($html = $xmlXformer.getJsonIssue($item, $group))
                #if ($xmlXformer.getStartDateID($item) != "")
                    #set($startDateId = $xmlXformer.getStartDateID($item))
                #end

                $html,
            #end
        ],
        options: {
            width: '$width',
            height: '$height',
            versions: '$versions',
            startDateId: '$startDateId',
            group: '$group'
        }
    }
</script>