<div id="two-dimensional-chart-$chartId" class="two-dimensional-chart chart-border">
    <table class="two-dimensional-chart-table">
        <tbody>
        <tr>
            <th rowspan="2">$chartModel.getyHeading()</th>
            <th colspan="$chartModel.getFirstRow().getCells().size()">$chartModel.getxHeading()</th>
        </tr>
        <tr>
            #foreach($cell in $chartModel.getFirstRow().getCells())
                #set($markupHtml = $cell.getMarkup())
                <th class="$cell.getCssClass()">$markupHtml</th>
            #end
        </tr>

        #foreach($row in $chartModel.getRows())
            <tr>
                #foreach($cell in $row.getCells())
                    <td class="$cell.getCssClass()">
                        #set($markupHtml = $cell.getMarkup())
                        $markupHtml
                    </td>
                #end
            </tr>
        #end
        </tbody>
    </table>
    <div class="chart-summary">
        $i18n.getText("jirachart.view.twodimensionalchart.summary", $numberRowShow, $chartModel.getTotalRows())
    </div>

    #if ($showLink)
        <div class="show-link-container">
            <a id="show-link-$chartId" data-chart-id="$chartId" data-is-show-more="$isShowMore">
                #if ($isShowMore)
                    $i18n.getText("jirachart.panel.twodimensionalchart.showmore.label")
                #else
                    $i18n.getText("jirachart.panel.twodimensionalchart.showless.label")
                #end
            </a>

            <div class="hidden">
                <textarea id="chart-wiki-$chartId">$generalUtil.htmlEncode($wikiMarkup)</textarea>
                <input id="chart-page-id-$chartId" type="text" value="$contentId"/>
            </div>

        </div>
    #end
    <br clear=""/>
</div>
