<div class='table-jira-issue'>
    #if( $totalIssues > 0 ) 
        <table class="confluenceTable">
            <tbody>
                <tr>
                    <th class="confluenceTh">$generalUtil.htmlEncode('Key')</th>
                    #foreach( $col in $columns )
                        #if($col.title.equals('Summary') || $col.title.equals('Status')) 
                            <th class="confluenceTh">$generalUtil.htmlEncode( $col.title )</th>
                        #end
                    #end
                </tr>
                #set ($issuesDisplayed = 0)
                #foreach( $item in $entries)
                <tr>
                    #if( $issuesDisplayed < $maxIssuesToDisplay )
                        #set ($issuesDisplayed = $issuesDisplayed+1)
                        <td class="confluenceTd key">
                            <a href="$item.getChild('link').getValue()">
                            #if( $item.getChild('type').getValue() )
                                <img class="icon" src="$!xmlXformer.findIconUrl($item.getChild('type'))" />
                            #end
                            <span>$!item.getChild('key').getValue()</span></a>
                        </td>
                        #foreach( $col in $columns )
                             #if( $col.equals('summary') )
                                <td class="confluenceTd">$generalUtil.htmlEncode($!item.getChild('summary').getValue())</td>
                             #elseif( $col.equals('status') && $item.getChild('status').getValue())
                                        #if($item.getChild('statusCategory'))
                                                #if($item.getChild('statusCategory').getAttribute("colorName").getValue() == "blue-gray")
                                                    #set($statusColorPdf = "aui-lozenge-complete")
                                                #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "green")
                                                    #set($statusColorPdf = "aui-lozenge-success")
                                                #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "yellow")
                                                    #set($statusColorPdf = "aui-lozenge-current")
                                                #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "brown")
                                                    #set($statusColorPdf = "aui-lozenge-moved")
                                                #elseif($item.getChild('statusCategory').getAttribute("colorName").getValue() == "warm-red")
                                                    #set($statusColorPdf = "aui-lozenge-error")
                                                #els
                                                    #set($statusColorPdf = "aui-lozenge-default")
                                                #end
                                                <td class="confluenceTd status">
                                                    <span class="aui-lozenge $statusColorPdf aui-lozenge-subtle">
                                                        $!item.getChild($col.key).getValue()
                                                    </span>
                                                </td>
                                        #else
                                                <td class="confluenceTd status"><span class="jira-status">$generalUtil.htmlEncode($!item.getChild('status').getValue())</span></td>
                                        #end
                             #end
                         #end
                    #else
                        #break
                    #end
                </tr>
                #end
            </tbody>
        </table>
        #if( $totalIssues > $issuesDisplayed )
             #set ($remainingIssues = $totalIssues - $issuesDisplayed)
             <span class="view-all">
                <a class="all-issues-lnk" rel="nofollow" title="$action.getText('jiraissues.remainingissues.tip')" href="$generalUtil.htmlEncode($clickableUrl)">
                    $action.getText('jiraissues.remainingissues',$remainingIssues)
                </a>
             </span>
        #else
             <span class="view-all"><a href="$generalUtil.htmlEncode($clickableUrl)">$action.getText('mobile.jira.issue.viewall.link')</a></span>
        #end
    #else
        <span class="no-result">$action.getText('jiraissues.noresult')</span>
    #end
</div>